<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods.mapper.GoodsStoreMapper">
  <resultMap id="BaseResultMap" type="goods.pojo.GoodsStore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_kind" jdbcType="INTEGER" property="goodsKind" />
    <result column="goods_brand" jdbcType="INTEGER" property="goodsBrand" />
    <result column="goods_model" jdbcType="VARCHAR" property="goodsModel" />
    <result column="goods_parm" jdbcType="VARCHAR" property="goodsParm" />
    <result column="goods_unit" jdbcType="INTEGER" property="goodsUnit" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="goods_give_number" jdbcType="INTEGER" property="goodsGiveNumber" />
    <result column="goods_borrow_number" jdbcType="INTEGER" property="goodsBorrowNumber" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_name, goods_kind, goods_brand, goods_model, goods_parm, goods_unit, goods_number, 
    goods_give_number, goods_borrow_number, note
  </sql>
  <select id="selectByExample" parameterType="goods.pojo.GoodsStoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="(offset != null and limit != null) or (offset != 0 and limit != 0)">
      limit ${offset},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="goods.pojo.GoodsStoreExample">
    delete from goods_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="goods.pojo.GoodsStore">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_store (goods_name, goods_kind, goods_brand, 
      goods_model, goods_parm, goods_unit, 
      goods_number, goods_give_number, goods_borrow_number, 
      note)
    values (#{goodsName,jdbcType=VARCHAR}, #{goodsKind,jdbcType=INTEGER}, #{goodsBrand,jdbcType=INTEGER}, 
      #{goodsModel,jdbcType=VARCHAR}, #{goodsParm,jdbcType=VARCHAR}, #{goodsUnit,jdbcType=INTEGER}, 
      #{goodsNumber,jdbcType=INTEGER}, #{goodsGiveNumber,jdbcType=INTEGER}, #{goodsBorrowNumber,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="goods.pojo.GoodsStore">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsKind != null">
        goods_kind,
      </if>
      <if test="goodsBrand != null">
        goods_brand,
      </if>
      <if test="goodsModel != null">
        goods_model,
      </if>
      <if test="goodsParm != null">
        goods_parm,
      </if>
      <if test="goodsUnit != null">
        goods_unit,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsGiveNumber != null">
        goods_give_number,
      </if>
      <if test="goodsBorrowNumber != null">
        goods_borrow_number,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKind != null">
        #{goodsKind,jdbcType=INTEGER},
      </if>
      <if test="goodsBrand != null">
        #{goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsParm != null">
        #{goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null">
        #{goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsGiveNumber != null">
        #{goodsGiveNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsBorrowNumber != null">
        #{goodsBorrowNumber,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="goods.pojo.GoodsStoreExample" resultType="java.lang.Long">
    select count(*) from goods_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_store
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsKind != null">
        goods_kind = #{record.goodsKind,jdbcType=INTEGER},
      </if>
      <if test="record.goodsBrand != null">
        goods_brand = #{record.goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="record.goodsModel != null">
        goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsParm != null">
        goods_parm = #{record.goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsUnit != null">
        goods_unit = #{record.goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="record.goodsNumber != null">
        goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsGiveNumber != null">
        goods_give_number = #{record.goodsGiveNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsBorrowNumber != null">
        goods_borrow_number = #{record.goodsBorrowNumber,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_store
    set id = #{record.id,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_kind = #{record.goodsKind,jdbcType=INTEGER},
      goods_brand = #{record.goodsBrand,jdbcType=INTEGER},
      goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      goods_parm = #{record.goodsParm,jdbcType=VARCHAR},
      goods_unit = #{record.goodsUnit,jdbcType=INTEGER},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_give_number = #{record.goodsGiveNumber,jdbcType=INTEGER},
      goods_borrow_number = #{record.goodsBorrowNumber,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="goods.pojo.GoodsStore">
    update goods_store
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKind != null">
        goods_kind = #{goodsKind,jdbcType=INTEGER},
      </if>
      <if test="goodsBrand != null">
        goods_brand = #{goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        goods_model = #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsParm != null">
        goods_parm = #{goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null">
        goods_unit = #{goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsGiveNumber != null">
        goods_give_number = #{goodsGiveNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsBorrowNumber != null">
        goods_borrow_number = #{goodsBorrowNumber,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="goods.pojo.GoodsStore">
    update goods_store
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_kind = #{goodsKind,jdbcType=INTEGER},
      goods_brand = #{goodsBrand,jdbcType=INTEGER},
      goods_model = #{goodsModel,jdbcType=VARCHAR},
      goods_parm = #{goodsParm,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=INTEGER},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_give_number = #{goodsGiveNumber,jdbcType=INTEGER},
      goods_borrow_number = #{goodsBorrowNumber,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>