<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods.mapper.GoodsApplyMapper">
  <resultMap id="BaseResultMap" type="goods.pojo.GoodsApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_kind" jdbcType="INTEGER" property="goodsKind" />
    <result column="goods_brand" jdbcType="INTEGER" property="goodsBrand" />
    <result column="goods_model" jdbcType="VARCHAR" property="goodsModel" />
    <result column="goods_parm" jdbcType="VARCHAR" property="goodsParm" />
    <result column="goods_unit" jdbcType="INTEGER" property="goodsUnit" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    <result column="who_to_use" jdbcType="INTEGER" property="whoToUse" />
    <result column="what_to_do" jdbcType="VARCHAR" property="whatToDo" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="apply_user" jdbcType="VARCHAR" property="applyUser" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="apply_status" jdbcType="VARCHAR" property="applyStatus" />
    <result column="raal_buy_number" jdbcType="INTEGER" property="raalBuyNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_name, goods_kind, goods_brand, goods_model, goods_parm, goods_unit, goods_number, 
    goods_price, who_to_use, what_to_do, url, note, apply_user, apply_date, apply_status, 
    raal_buy_number
  </sql>
  <select id="selectByExample" parameterType="goods.pojo.GoodsApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="(offset != null and limit != null) or (offset != 0 and limit != 0)">
      limit ${offset},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="goods.pojo.GoodsApplyExample">
    delete from goods_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="goods.pojo.GoodsApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_apply (goods_name, goods_kind, goods_brand, 
      goods_model, goods_parm, goods_unit, 
      goods_number, goods_price, who_to_use, 
      what_to_do, url, note, 
      apply_user, apply_date, apply_status, 
      raal_buy_number)
    values (#{goodsName,jdbcType=VARCHAR}, #{goodsKind,jdbcType=INTEGER}, #{goodsBrand,jdbcType=INTEGER}, 
      #{goodsModel,jdbcType=VARCHAR}, #{goodsParm,jdbcType=VARCHAR}, #{goodsUnit,jdbcType=INTEGER}, 
      #{goodsNumber,jdbcType=INTEGER}, #{goodsPrice,jdbcType=DOUBLE}, #{whoToUse,jdbcType=INTEGER}, 
      #{whatToDo,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{applyUser,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, #{applyStatus,jdbcType=VARCHAR}, 
      #{raalBuyNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="goods.pojo.GoodsApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsKind != null">
        goods_kind,
      </if>
      <if test="goodsBrand != null">
        goods_brand,
      </if>
      <if test="goodsModel != null">
        goods_model,
      </if>
      <if test="goodsParm != null">
        goods_parm,
      </if>
      <if test="goodsUnit != null">
        goods_unit,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="whoToUse != null">
        who_to_use,
      </if>
      <if test="whatToDo != null">
        what_to_do,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="applyUser != null">
        apply_user,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="raalBuyNumber != null">
        raal_buy_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKind != null">
        #{goodsKind,jdbcType=INTEGER},
      </if>
      <if test="goodsBrand != null">
        #{goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsParm != null">
        #{goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null">
        #{goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="whoToUse != null">
        #{whoToUse,jdbcType=INTEGER},
      </if>
      <if test="whatToDo != null">
        #{whatToDo,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null">
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="raalBuyNumber != null">
        #{raalBuyNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="goods.pojo.GoodsApplyExample" resultType="java.lang.Long">
    select count(*) from goods_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsKind != null">
        goods_kind = #{record.goodsKind,jdbcType=INTEGER},
      </if>
      <if test="record.goodsBrand != null">
        goods_brand = #{record.goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="record.goodsModel != null">
        goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsParm != null">
        goods_parm = #{record.goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsUnit != null">
        goods_unit = #{record.goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="record.goodsNumber != null">
        goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.whoToUse != null">
        who_to_use = #{record.whoToUse,jdbcType=INTEGER},
      </if>
      <if test="record.whatToDo != null">
        what_to_do = #{record.whatToDo,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUser != null">
        apply_user = #{record.applyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null">
        apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyStatus != null">
        apply_status = #{record.applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.raalBuyNumber != null">
        raal_buy_number = #{record.raalBuyNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_apply
    set id = #{record.id,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_kind = #{record.goodsKind,jdbcType=INTEGER},
      goods_brand = #{record.goodsBrand,jdbcType=INTEGER},
      goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      goods_parm = #{record.goodsParm,jdbcType=VARCHAR},
      goods_unit = #{record.goodsUnit,jdbcType=INTEGER},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_price = #{record.goodsPrice,jdbcType=DOUBLE},
      who_to_use = #{record.whoToUse,jdbcType=INTEGER},
      what_to_do = #{record.whatToDo,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      apply_user = #{record.applyUser,jdbcType=VARCHAR},
      apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      apply_status = #{record.applyStatus,jdbcType=VARCHAR},
      raal_buy_number = #{record.raalBuyNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="goods.pojo.GoodsApply">
    update goods_apply
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKind != null">
        goods_kind = #{goodsKind,jdbcType=INTEGER},
      </if>
      <if test="goodsBrand != null">
        goods_brand = #{goodsBrand,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        goods_model = #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsParm != null">
        goods_parm = #{goodsParm,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null">
        goods_unit = #{goodsUnit,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="whoToUse != null">
        who_to_use = #{whoToUse,jdbcType=INTEGER},
      </if>
      <if test="whatToDo != null">
        what_to_do = #{whatToDo,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null">
        apply_user = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="raalBuyNumber != null">
        raal_buy_number = #{raalBuyNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="goods.pojo.GoodsApply">
    update goods_apply
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_kind = #{goodsKind,jdbcType=INTEGER},
      goods_brand = #{goodsBrand,jdbcType=INTEGER},
      goods_model = #{goodsModel,jdbcType=VARCHAR},
      goods_parm = #{goodsParm,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=INTEGER},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=DOUBLE},
      who_to_use = #{whoToUse,jdbcType=INTEGER},
      what_to_do = #{whatToDo,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      apply_user = #{applyUser,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      raal_buy_number = #{raalBuyNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>