<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods.mapper.GoodsWhoApplyMapper">
  <resultMap id="BaseResultMap" type="goods.pojo.GoodsWhoApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_apply_id" jdbcType="INTEGER" property="goodsApplyId" />
    <result column="goods_applyer" jdbcType="VARCHAR" property="goodsApplyer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_apply_id, goods_applyer
  </sql>
  <select id="selectByExample" parameterType="goods.pojo.GoodsWhoApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_who_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="(offset != null and limit != null) or (offset != 0 and limit != 0)">
      limit ${offset},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_who_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_who_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="goods.pojo.GoodsWhoApplyExample">
    delete from goods_who_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="goods.pojo.GoodsWhoApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_who_apply (goods_apply_id, goods_applyer)
    values (#{goodsApplyId,jdbcType=INTEGER}, #{goodsApplyer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="goods.pojo.GoodsWhoApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_who_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsApplyId != null">
        goods_apply_id,
      </if>
      <if test="goodsApplyer != null">
        goods_applyer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsApplyId != null">
        #{goodsApplyId,jdbcType=INTEGER},
      </if>
      <if test="goodsApplyer != null">
        #{goodsApplyer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="goods.pojo.GoodsWhoApplyExample" resultType="java.lang.Long">
    select count(*) from goods_who_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_who_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsApplyId != null">
        goods_apply_id = #{record.goodsApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsApplyer != null">
        goods_applyer = #{record.goodsApplyer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_who_apply
    set id = #{record.id,jdbcType=INTEGER},
      goods_apply_id = #{record.goodsApplyId,jdbcType=INTEGER},
      goods_applyer = #{record.goodsApplyer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="goods.pojo.GoodsWhoApply">
    update goods_who_apply
    <set>
      <if test="goodsApplyId != null">
        goods_apply_id = #{goodsApplyId,jdbcType=INTEGER},
      </if>
      <if test="goodsApplyer != null">
        goods_applyer = #{goodsApplyer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="goods.pojo.GoodsWhoApply">
    update goods_who_apply
    set goods_apply_id = #{goodsApplyId,jdbcType=INTEGER},
      goods_applyer = #{goodsApplyer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>